@import './variables.sass'

.SlideContainer
  width: 25vw
  height: 450px
  border-radius: 5px
  background: $slideBackground

.SlideContainer.main
  width: 400px


.SlideInner 
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  
.SlideContent 
  height: 82%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly

.SlideContent.train
  height: 60%
  display: grid 
  grid-template-columns: auto auto 
  grid-template-rows: 100px 100px
  align-content: center



.SlideTitle 
  width: fit-content
  margin: 0 auto
  border-bottom: 3px solid $orange
  border-radius: 2px
  text-align: center
  font-size: $titleFz